3-get-content-metrics/(3) Get content metrics (21d).json
{
  "name": "(3) Get Content Metrics",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1184,
        16
      ],
      "id": "636275ca-c188-4ab7-b0d4-b5db4351daeb",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "55fad492-4482-455f-a643-6f8cbab8b836",
              "leftValue": "={{ $json.profileType }}",
              "rightValue": "TWITTER",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        -128
      ],
      "id": "041fd4ca-9908-416a-9e87-d508feb2d277",
      "name": "Filter Twitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1808,
        -544
      ],
      "id": "ca2508de-30bb-418c-b134-fb2de37abf9f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## Consumption per Run: ----- \n   \n\n### [1 API Call] PER [Account/Profile]\n\n### 24 accounts = 24 API Calls\n\nMax = 500 API calls per 30min",
        "height": 208,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1680,
        -304
      ],
      "typeVersion": 1,
      "id": "908a3b02-79c2-45c8-9d94-01706bb74dfa",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM cuentas_maestro;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        -128
      ],
      "id": "c1aed3f8-3f7b-4ef1-875e-5b265fe0e878",
      "name": "Get Accounts DB",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 24
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1248,
        -416
      ],
      "id": "51481a8f-cde1-408b-bca6-aae58a0a4d1a",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as recent_calls\nFROM api_call_log\nWHERE call_timestamp > NOW() - INTERVAL '30 minutes';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        -128
      ],
      "id": "3e2ae29a-af23-4fe1-9cee-a8601f33d718",
      "name": "Count Recent Calls",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9851b3f8-5d22-4cf2-89b0-974a80d189ec",
              "leftValue": "={{ $json.recent_calls }}",
              "rightValue": 480,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        112
      ],
      "id": "def8d4bb-2445-4222-a5cf-308a711bb094",
      "name": "Check Quota"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO api_call_log (id) VALUES (DEFAULT);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2176,
        -336
      ],
      "id": "ae02e8ca-a629-4410-859e-effbee4eb69c",
      "name": "Log API Call",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT access_token from token_storage where id = 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        16
      ],
      "id": "47122fe0-bb75-4574-a56e-4c78720ff45a",
      "name": "Get Valid Token",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst out = [];\n\n// --- HELPER FUNCTION ---\nconst toISODate = (date) => date.toISOString().slice(0, 10);\n\n// --- DATE CALCULATION (LAST 21 DAYS FROM LAST SUNDAY) ---\nconst today = new Date();\nconst lastSunday = new Date(today);\n// Rollback to last Sunday\nlastSunday.setDate(today.getDate() - today.getDay());\n\n// Main Period\nconst endDate = new Date(lastSunday);\nconst startDate = new Date(lastSunday);\n// Correction: Subtract 20 days for an inclusive 21-day period.\nstartDate.setDate(startDate.getDate() - 20);\n\nconst reportStartDate = toISODate(startDate);\nconst reportEndDate = toISODate(endDate);\n\n// Comparison Period\nconst oldEndDate = new Date(startDate);\noldEndDate.setDate(oldEndDate.getDate() - 1);\nconst oldStartDate = new Date(oldEndDate);\n// Subtract 20 days again to maintain consistency.\noldStartDate.setDate(oldStartDate.getDate() - 20);\n\nconst reportOldStartDate = toISODate(oldStartDate);\nconst reportOldEndDate = toISODate(oldEndDate);\n\n// --- PROCESSING ---\nfor (const item of items) {\n    out.push({\n        json: {\n            ...item.json,\n            reportStartDate: reportStartDate,\n            reportEndDate: reportEndDate,\n            reportOldStartDate: reportOldStartDate,\n            reportOldEndDate: reportOldEndDate,\n            _debug: `Fetch period: [${reportStartDate} to ${reportEndDate}]`\n        }\n    });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -128
      ],
      "id": "4df3821e-71dc-4d2c-bd18-02cbf035a834",
      "name": "Calculate Date Range"
    },
    {
      "parameters": {
        "url": "=https://api.report.agorapulse.com/api/organizations/ORG_ID_SANITIZED/workspaces/WORKSPACE_ID_SANITIZED/accounts/{{ $json.profileUid }}/report/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "custom"
            },
            {
              "name": "reportStartDate",
              "value": "={{ $json.reportStartDate }}"
            },
            {
              "name": "reportEndDate",
              "value": "={{ $json.reportEndDate }}"
            },
            {
              "name": "timeZone",
              "value": "America/Buenos_Aires"
            },
            {
              "name": "reportOldStartDate",
              "value": "={{ $json.reportOldStartDate }}"
            },
            {
              "name": "=reportOldEndDate",
              "value": "={{ $json.reportOldEndDate }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://app.agorapulse.com"
            },
            {
              "name": "referer",
              "value": "https://app.agorapulse.com/"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2048,
        352
      ],
      "id": "4a50f8d8-6bb3-42c9-bbce-f7cd9d07f515",
      "name": "GET Content Items",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Authorization_token_bearer_en_bd"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.report.agorapulse.com/api/organizations/ORG_ID_SANITIZED/workspaces/WORKSPACE_ID_SANITIZED/accounts/{{ $json.profileUid }}/report/story",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "custom"
            },
            {
              "name": "reportStartDate",
              "value": "={{ $json.reportStartDate }}"
            },
            {
              "name": "reportEndDate",
              "value": "={{ $json.reportEndDate }}"
            },
            {
              "name": "timeZone",
              "value": "America/Buenos_Aires"
            },
            {
              "name": "reportOldStartDate",
              "value": "={{ $json.reportOldStartDate }}"
            },
            {
              "name": "=reportOldEndDate",
              "value": "={{ $json.reportOldEndDate }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://app.agorapulse.com"
            },
            {
              "name": "referer",
              "value": "https://app.agorapulse.com/"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        96
      ],
      "id": "c506eece-2057-4782-a61d-696cbd7d3950",
      "name": "GET Story Items",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Authorization_token_bearer_en_bd"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://api.report.agorapulse.com/api/organizations/ORG_ID_SANITIZED/workspaces/WORKSPACE_ID_SANITIZED/accounts/{{ $json.profileUid }}/report/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "period",
              "value": "custom"
            },
            {
              "name": "reportStartDate",
              "value": "={{ $json.reportStartDate }}"
            },
            {
              "name": "reportEndDate",
              "value": "={{ $json.reportEndDate }}"
            },
            {
              "name": "timeZone",
              "value": "America/Buenos_Aires"
            },
            {
              "name": "reportOldStartDate",
              "value": "={{ $json.reportOldStartDate }}"
            },
            {
              "name": "=reportOldEndDate",
              "value": "={{ $json.reportOldEndDate }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://app.agorapulse.com"
            },
            {
              "name": "referer",
              "value": "https://app.agorapulse.com/"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36 Edg/140.0.0.0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        -96
      ],
      "id": "812da3fa-b5ab-403e-8389-2fbf12e1366a",
      "name": "GET Content (Insta Fallback)",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Authorization_token_bearer_en_bd"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2320,
        -16
      ],
      "id": "571b4734-8b2e-4da7-9785-4b35a81a2539",
      "name": "Merge Streams"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO api_call_log (id) VALUES (DEFAULT);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        416
      ],
      "id": "97e93186-1677-42f3-beca-9c27c2a59b34",
      "name": "Log API Call 2",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO api_call_log (id) VALUES (DEFAULT);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2384,
        176
      ],
      "id": "b383c2a1-3eeb-4f7f-ae2a-fcaf15aa483d",
      "name": "Log API Call 1",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.profileType }}",
                    "rightValue": "FACEBOOK_INSTAGRAM",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ee2844b4-8c85-42a5-8c86-0d675296020b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9e343ceb-44c1-46e8-b580-f85b3843eaaa",
                    "leftValue": "={{ $json.profileType }}",
                    "rightValue": "FACEBOOK_INSTAGRAM",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1520,
        112
      ],
      "id": "6ef5677e-79a6-44be-b484-3a4763bf58ee",
      "name": "Platform Switch"
    },
    {
      "parameters": {
        "jsCode": "// --- HELPER 1: Normalize ID from URL ---\nfunction getNormalizedId(url) {\n  if (!url || typeof url !== 'string') return null;\n  let match;\n  // YouTube\n  match = url.match(/(?:youtube\\.com\\/(?:watch\\?v=|shorts\\/|embed\\/)|youtu\\.be\\/)([a-zA-Z0-9_-]{11})/);\n  if (match) return match[1];\n  // Instagram\n  match = url.match(/instagram\\.com\\/(?:p|reel|stories)\\/(?:[a-zA-Z0-9._-]+\\/)?([a-zA-Z0-9_-]+)/);\n  if (match) return match[1];\n  // TikTok\n  match = url.match(/tiktok\\.com\\/.*\\/video\\/(\\d+)|vm\\.tiktok\\.com\\/([a-zA-Z0-9]+)/);\n  if (match) return match[1] || match[2];\n  // Facebook\n  match = url.match(/(?:facebook\\.com\\/.*(?:videos|reel)\\/|watch\\/\\?v=|fb\\.watch\\/)([a-zA-Z0-9_.-]+)/);\n  if (match) return match[1];\n  return null;\n}\n\n// --- MAIN FLATTENING LOGIC ---\nconst finalOutput = [];\n// Input is an array of items, one per account/profile.\nconst accountsData = $input.all();\n\n// 1. Iterate over each ACCOUNT\nfor (const accountItem of accountsData) {\n  const accountJson = accountItem.json;\n  \n  // Check if API response and insights exist\n  if (!accountJson.apiResponse || !accountJson.apiResponse.insights) {\n    continue;\n  }\n  \n  const insights = accountJson.apiResponse.insights;\n\n  // 2. Iterate over each POST (insight) of the current account\n  for (const post of insights) {\n    \n    // If a post has no URL, skip\n    if (!post.externalUrl) {\n      continue;\n    }\n\n    const normalizedId = getNormalizedId(post.externalUrl);\n\n    // If no ID extracted, skip\n    if (!normalizedId) {\n      continue;\n    }\n\n    // 3. Iterate over each METRIC of this post\n    for (const [metricName, metricValue] of Object.entries(post)) {\n      // Keep only numeric metrics\n      if (typeof metricValue === 'number' || metricValue === null) {\n        \n        const outputRow = {\n          json: {\n            // Account Info\n            profile_uid: accountJson.profileUid,\n            nombre_cuenta: accountJson.nombre_cuenta,\n            profile_type: accountJson.profileType,\n            // Post Info\n            id_post: post.id,\n            id_normalizado: normalizedId,\n            publishing_date: post.publishingDate,\n            tipo_post: post.type,\n            texto_post: post.message,\n            post_url: post.externalUrl,\n            // Metric Info\n            metrica: metricName,\n            valor: metricValue,\n            // Execution Info\n            fetched_at: new Date().toISOString(),\n            n8n_execution_id: $execution.id\n          }\n        };\n        \n        finalOutput.push(outputRow);\n      }\n    }\n  }\n}\n\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -912
      ],
      "id": "9170eba8-94b1-4de6-b440-152fed325a54",
      "name": "Flatten Content Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// API result input\nconst apiResponse = $input.item.json;\n\n// Reference the previous node input directly\nconst accountData = $(\"Loop Over Items\").item.json;\n\n// Merge account info with API response\nconst enrichedData = {\n  ...accountData,      // Contains profile_uid, name, etc.\n  apiResponse: apiResponse // Adds API result\n};\n\nreturn enrichedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        -304
      ],
      "id": "376a4548-d9ef-4647-8e12-02542cf273bb",
      "name": "Enrich Instagram Data"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// API result input\nconst apiResponse = $input.item.json;\n\n// Reference the previous node input directly\nconst accountData = $(\"Loop Over Items\").item.json;\n\n// Merge account info with API response\nconst enrichedData = {\n  ...accountData,      // Contains profile_uid, name, etc.\n  apiResponse: apiResponse // Adds API result\n};\n\nreturn enrichedData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ],
      "id": "15211813-66bc-4414-85f0-c03d70ba01d9",
      "name": "Enrich General Data"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "reportes_contenido",
          "mode": "list",
          "cachedResultName": "reportes_contenido"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "profile_uid": "={{ $json.profile_uid }}",
            "nombre_cuenta": "={{ $json.nombre_cuenta }}",
            "red": "={{ $json.profile_type }}",
            "tipo_post": "={{ $json.tipo_post }}",
            "publishing_date": "={{ $json.publishing_date }}",
            "id_post": "={{ $json.id_post }}",
            "texto_post": "={{ $json.texto_post }}",
            "post_url": "={{ $json.post_url }}",
            "metrica": "={{ $json.metrica }}",
            "valor": "={{ $json.valor }}",
            "fetched_at": "={{ $json.fetched_at }}",
            "n8n_execution_id": "={{ $json.n8n_execution_id }}",
            "id_normalizado": "={{ $json.id_normalizado }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profile_uid",
              "displayName": "profile_uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_cuenta",
              "displayName": "nombre_cuenta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "red",
              "displayName": "red",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_post",
              "displayName": "id_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "publishing_date",
              "displayName": "publishing_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_post",
              "displayName": "tipo_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "texto_post",
              "displayName": "texto_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "post_url",
              "displayName": "post_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metrica",
              "displayName": "metrica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "valor",
              "displayName": "valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at",
              "displayName": "fetched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "n8n_execution_id",
              "displayName": "n8n_execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id_normalizado",
              "displayName": "id_normalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3216,
        -1088
      ],
      "id": "9aac7857-2802-4cf8-8217-728c4eedc3e3",
      "name": "Write to DB (Reports)",
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Ensure node name matches exactly\nconst items = $('Calculate Date Range').all();\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -128
      ],
      "id": "a55c8b1a-197a-4e7a-bada-d003de5a81c3",
      "name": "Resume Flow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM reportes_contenido\nWHERE CAST(publishing_date AS DATE) >= '{{ $json.reportStartDate }}'\nAND CAST(publishing_date AS DATE) <= '{{ $json.reportEndDate }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        -128
      ],
      "id": "7e82303e-2ed9-4888-befe-5db00befab8d",
      "name": "Delete Old Data",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": ".\n## Others",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        176
      ],
      "id": "4be7de15-5c0c-4868-b7c4-921699d92076",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "\nIs Instagram",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1616,
        80
      ],
      "id": "ada0815b-54a3-4270-9536-cbf9707a4765",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Fetch Logic: Updates content metrics for the last 21 days (from previous Sunday backwards).",
        "height": 208,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1696,
        -32
      ],
      "typeVersion": 1,
      "id": "27cd89c2-b9ad-433f-a02a-b4ccdacfd447",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "table",
        "workbook": {
          "__rl": true,
          "value": "SANITIZED_WORKBOOK_ID",
          "mode": "list",
          "cachedResultName": "Datos_origen_API",
          "cachedResultUrl": "https://company-sharepoint.com/sanitized_path/Datos_origen_API.xlsx"
        },
        "worksheet": {
          "__rl": true,
          "value": "{E0509980-652D-44F8-8DC7-EF5E37707188}",
          "mode": "list",
          "cachedResultName": "reportes_contenido",
          "cachedResultUrl": "https://company-sharepoint.com/sanitized_path/Datos_origen_API.xlsx"
        },
        "table": {
          "__rl": true,
          "value": "{62036862-50B3-42C2-8FE9-7F8A40B507CC}",
          "mode": "list",
          "cachedResultName": "contenido",
          "cachedResultUrl": "https://company-sharepoint.com/sanitized_path/Datos_origen_API.xlsx"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "fecha_reporte",
              "fieldValue": "={{ $json.publishing_date }}"
            },
            {
              "column": "profile_uid",
              "fieldValue": "={{ $json.profile_uid }}"
            },
            {
              "column": "profile_nombre",
              "fieldValue": "={{ $json.nombre_cuenta }}"
            },
            {
              "column": "red",
              "fieldValue": "={{ $json.profile_type }}"
            },
            {
              "column": "id_post",
              "fieldValue": "={{ $json.id_post }}"
            },
            {
              "column": "publishing_date",
              "fieldValue": "={{ $json.publishing_date }}"
            },
            {
              "column": "tipo_post",
              "fieldValue": "={{ $json.tipo_post }}"
            },
            {
              "column": "texto_post",
              "fieldValue": "={{ $json.texto_post }}"
            },
            {
              "column": "post_url",
              "fieldValue": "={{ $json.post_url }}"
            },
            {
              "column": "metrica",
              "fieldValue": "={{ $json.metrica }}"
            },
            {
              "column": "valor",
              "fieldValue": "={{ $json.valor || 0 }}"
            },
            {
              "column": "fetched_at",
              "fieldValue": "={{ $json.fetched_at }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        2864,
        -720
      ],
      "id": "48554d22-c1eb-4a2f-93b5-f1735a566e9a",
      "name": "Append Rows to Excel",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "SANITIZED_CREDENTIAL",
          "name": "Microsoft Excel account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: all items\nconst items = $input.all();\n\n// STEP 1: Identify useful metrics\n// Create a Set to store metric names that have non-zero/non-null values.\nconst metricasValiosas = new Set();\n\n// Iterate once to analyze data\nfor (const item of items) {\n  const nombreMetrica = item.json.metrica;\n  const valorMetrica = item.json.valor;\n\n  // If value is not 0 or null, it's a valuable metric.\n  if (valorMetrica != null && valorMetrica != 0) {\n    metricasValiosas.add(nombreMetrica);\n  }\n}\n\n// STEP 2: Filter original list\n// Keep all rows belonging to the valuable metrics identified in Step 1.\nconst itemsFinales = items.filter(item => {\n  const nombreMetrica = item.json.metrica;\n\n  return metricasValiosas.has(nombreMetrica);\n});\n\nreturn itemsFinales;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        -720
      ],
      "id": "8b04e13b-3846-49cb-bbe3-671c20366fc9",
      "name": "Clean Empty Metrics"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Valid Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Twitter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Flatten Content Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Platform Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Accounts DB": {
      "main": [
        [
          {
            "node": "Calculate Date Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Recent Calls": {
      "main": [
        [
          {
            "node": "Check Quota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quota": {
      "main": [
        [
          {
            "node": "Get Accounts DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log API Call": {
      "main": [
        []
      ]
    },
    "Get Valid Token": {
      "main": [
        [
          {
            "node": "Count Recent Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Date Range": {
      "main": [
        [
          {
            "node": "Delete Old Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Content (Insta Fallback)": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Story Items": {
      "main": [
        [
          {
            "node": "Merge Streams",
            "type": "main",
            "index": 1
          },
          {
            "node": "Log API Call 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Content Items": {
      "main": [
        [
          {
            "node": "Log API Call 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enrich General Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Streams": {
      "main": [
        [
          {
            "node": "Enrich Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Switch": {
      "main": [
        [
          {
            "node": "GET Content (Insta Fallback)",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Story Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Content Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Content Data": {
      "main": [
        [
          {
            "node": "Write to DB (Reports)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Clean Empty Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich General Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Instagram Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Flow": {
      "main": [
        [
          {
            "node": "Filter Twitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data": {
      "main": [
        [
          {
            "node": "Resume Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Empty Metrics": {
      "main": [
        [
          {
            "node": "Append Rows to Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}